<!DOCTYPE html>
<html ng-app=exercise>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Video Angular Fun</title>
        <meta name="description" content=" a basic html5 video page posting results to node using angular">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../vendor/foundation/css/normalize.css" rel="stylesheet">
        <link href="../vendor/foundation/css/foundation.css" rel="stylesheet">
		
    </head>
    <body  ng-controller=exercise>

        <div>
          <h1>Use <code>ng-model</code> to achieve data-binding with the below input</h1>
          <h3>and this '{{phrase}}' quoted phrase</h3>
          <input type="text" ng-model="phrase" ng-init="phrase = 'sss'">

        </div>
		<my-video-manip>
		<video id="video1" width="420">
			<source src="mov_bbb.mp4" type="video/mp4">
			Your browser does not support HTML5 video.
	    </video>
		<button id="videoButton">play</button>
		<button id="videoButton2">pause</button>
		</my-video-manip>
		        <div>
          <h1>Use <code>ng-click</code> and <code>ng-show</code> to create a toggled section</h1>
          <p ng-show="toggle" ng-init="toggle=true">Here one second</p>
          <p>Gone the next</p>
          <button ng-click="toggleButton()">Toggle</button>
        </div>


        <script src="../vendor/jquery-2.1.1.min.js"></script>
        <script src="../vendor/angular/angular.min.js"></script>
        <script src="main.js"> </script>
    </body>
</html>
